{%extends 'base.html'%}
{%block title%}Manzanas{%endblock%}
{%block content%}
<h2>Formulario de Registro</h2>
<br>
<form action="" method="post">

    <label for="codmanzana" class="subtitulo">Código de Manzana</label>
    <input type="text" name="codmanzana" placeholder="10256" maxlength="5" minlength="5" required class="entrada">
    <br>
    <label for="nombres" class="subtitulo">Nombre de la Manzana</label>
    <input type="text" name="nombres" placeholder="Ejemplo: Industrial" maxlength="20" required class="entrada">
    <br>
    <label for="codmunicipio" class="subtitulo">Código Municipio al que pertenece</label>
    <input type="text" name="documento" placeholder="1132" maxlength="4" minlength="4"  required class="entrada">
    <br>
    <label for="localidad" class="subtitulo">Localidad:</label>
    <input type="text" name="localidad" placeholder="Ejemplo: Suba" maxlength="20" required class="entrada">
    <br>
    <label for="direccion" class="subtitulo">Dirección:</label>
    <input type="text" name="direccion" placeholder="Ejemplo: calle 24b#87-26" maxlength="40" required class="entrada">
    <br><br>
    <label for="servicios" class="subtitulo">Servicios:*</label> 
    <select name="servicioprest" id="servicioprest" multiple required class="entrada1">
        <option value="1">Estudiar</option>
        <option value="2">Emprender</option>
        <option value="3">Emplear</option>
        <option value="4">Descansar</option>
        <option value="5">Ejercitar</option>
        <option value="6">Recibir Orientación</option>
        <option value="7">Asesoría Jurídica</option>
        <option value="8">Asesoría Psicológica</option>
        <option value="9">Lavanderías Comunitarias</option>
    </select>
    <p>*Para escoger varios servicios mantenga presionado ctrl mientras selecciona las opciones</p>

    <button type="submit">Registrar</button>

</form>
<br><br>
<h2>Manzanas Registradas</h2>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Municipio</th>
            <th>Localidad</th>
            <th>Dirección</th>
            <th>Servicios Prestados</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>10256</td>
        <td>Industrial</td>
        <td>Cundinamarca</td>
        <td>Suba</td>
        <td>Calle 92#17-35</td>
        <td>Descansar,Asesoría Jurídica</td>

        <td>
            <button><span class="fa-solid fa-pencil"></span></button>
            <button><span class="fa-solid fa-trash"></span></button>
        </td>
        </tr>


    </tbody>
</table>
{%endblock%}