{%extends 'base.html'%}
{%block title%}Manzanas{%endblock%}
{%block content%}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- Titulos de pestañas de navegación -->
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#registrar" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span><i class="fa-solid fa-circle-plus"></i></span>Registrar manzanas</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#manzanas" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><span><i class="fa-solid fa-location-dot"></i></span>Manzanas</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#mapa" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><span><i class="fa-solid fa-map"></i></span>Mapa</button>
    </li>
</ul>

<!-- Cuerpo de pestañas de navegación -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="registrar" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <h2 class="titulos">Formulario de Manzanas</h2>
        <br>
        {% with messages=get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}   
        <div class="alert alert-warning" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            {{ message }}
        </div>   
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="" method="post" class="container mt-4">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="codmanzana" class="form-label subtitulo">Código de Manzana</label>
                    <input type="text" name="codmanzana" class="form-control entrada" placeholder="10256" maxlength="5" minlength="5" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="nombres" class="form-label subtitulo">Nombre de la Manzana</label>
                    <input type="text" name="nombres" class="form-control entrada" placeholder="Ejemplo: Industrial" maxlength="20" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="codmunicipio" class="form-label subtitulo">Código Municipio al que pertenece</label>
                    <input type="text" name="codmunicipio" class="form-control entrada" placeholder="1132" maxlength="4" minlength="4" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="localidad" class="form-label subtitulo">Localidad:</label>
                    <input type="text" name="localidad" class="form-control entrada" placeholder="Ejemplo: Suba" maxlength="20" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label subtitulo">Dirección:</label>
                <input type="text" name="direccion" class="form-control entrada" placeholder="Ejemplo: calle 24b#87-26" maxlength="40" required>
            </div>
            <div class="mb-3">
                <label for="servicios" class="form-label subtitulo">Servicios:*</label> 
                <select name="servicioprest" id="servicioprest" required class="form-select entrada1">
                    <option value="1">Estudiar</option>
                    <option value="2">Emprender</option>
                    <option value="3">Emplear</option>
                    <option value="4">Descansar</option>
                    <option value="5">Ejercitar</option>
                    <option value="6">Recibir Orientación</option>
                    <option value="7">Asesoría Jurídica</option>
                    <option value="8">Asesoría Psicológica</option>
                    <option value="9">Lavanderías Comunitarias</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <div class="tab-pane fade" id="manzanas" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <h2 class="titulos">Manzanas registradas</h2>
        <a class="PDF" href="/generar_pdfM">Descargar PDF</a>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Municipio</th>
                    <th>Localidad</th>
                    <th>Dirección</th>
                    <th>Servicios Prestados</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for manzana in manzanas%}
                <tr>
                <td>{{manzana.0}}</td>
                <td>{{manzana.2}}</td>
                <td>{{manzana.1}}</td>
                <td>{{manzana.3}}</td>
                <td>{{manzana.4}}</td>
                <td>{{manzana.5}}</td>

                <td>
                    <a class="delete" href="/manzanas/edit/{{manzana.0}}"><span class="fa-solid fa-pencil"></span></a>
                    <a class="delete" href="/manzana/borrar/{{manzana.0}}"><span class="fa-solid fa-trash"></span></a>
                </td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="mapa" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8154621.554412446!2d-75.7201806!3d3.6446682!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e15a43aae1594a3%3A0x9a0d9a04eff2a340!2sColombia!5e0!3m2!1ses!2sco!4v1695862125329!5m2!1ses!2sco" width="800" height="850" style="border:2px solid white;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

{%endblock%}