{%extends 'base.html'%}
{%block title%}Cuidadoras{%endblock%}
{%block content%}
<h2>Formulario de registro</h2>
<form action="" method="post">
    <label for="tipodoc" class="subtitulo">Tipo Documento:</label>
    <select name="tipodoc" required class="entrada1">
        <option value="">-------</option>
        <option value="CC">Cédula Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="Pasaporte">Pasporte</option>
        <option value="CE">Cédula Extranjería</option>
    </select>
    <br>

    <label for="documento" class="subtitulo">Número Documento</label>
    <input type="text" name="documento" placeholder="Númer de Documento" maxlength="10" required class="entrada">
    <br>
    <label for="nombres" class="subtitulo">Nombres</label>
    <input type="text" name="nombres" placeholder="Ejemplo: Maria" maxlength="40" required class="entrada">
    <br>
    <label for="apellidos" class="subtitulo">Apellidos</label>
    <input type="text" name="Apellidos" placeholder="Ejemplo: Cardenas" maxlength="40" required class="entrada">
    <br>
    <label for="telefono" class="subtitulo">Teléfono</label>
    <input type="tel" name="telefono" placeholder="Ejemplo: 6011234567" minlength="7" maxlength="10" required class="entrada">
    <br>
    <label for="correo" class="subtitulo">Correo</label>
    <input type="email" name="correo" placeholder="ejemplo@gmail.com" maxlength="40" required class="entrada">
    <br>
    <label for="ciudad" class="subtitulo">Ciudad</label>
    <input type="text" name="ciudad" placeholder="Ejemplo: Medellin" maxlength="20" required class="entrada">
    <br>
    <label for="direccion" class="subtitulo">Dirección</label>
    <input type="text" name="direccion" placeholder="Ejemplo: Cr 75 # 23a-92" maxlength="40" required class="entrada">
    <br>
    <label for="ocupacion" class="subtitulo">Ocupación</label>
    <input type="text" name="ocupacion" placeholder="Ejemplo: Médico" maxlength="20" required class="entrada">
    <br>
    <label for="direccion" class="subtitulo">Direcciòn</label>
    <input type="text" name="direccion" placeholder="Ejemplo: Cr 75 # 23a-92" maxlength="40" required class="entrada">
    <br>

    <label for="servicioint" class="subtitulo">¿Qué servicio le interesa?:</label>
    <select name="servicioint" required class="entrada1">
        <option value="">-------</option>
        <option value="1">Estudiar</option>
        <option value="2">Emprender</option>
        <option value="3">Emplearse</option>
        <option value="4">Descansar</option>
        <option value="5">Ejercitarse</option>
        <option value="6">Recibir Orientación</option>
        <option value="7">Asesoría Jurídica</option>
        <option value="8">Asesoría Psicológica</option>
        <option value="9">Lavanderías Comunitarias</option>
    </select>
    <br>

    <button type="submit">Registrar</button>

</form>
<br>
<br>
<h2>Mujeres registradas</h2>
<table>
    <thead>
        <tr>
            <th>Tipo Documento</th>
            <th>Documento</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Ocupación</th>
            <th>Servicio de Interes</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>CC</td>
        <td>1028919710</td>
        <td>Maria</td>
        <td>Castañeda</td>
        <td>6017975876</td>
        <td>maria@ejemplo.com</td>
        <td>Bogotá</td>
        <td>cra 19a #36b -10</td>
        <td>Enfermera</td>
        <td>Ejercitarse</td> 
        <td>
            <button><span class="fa-solid fa-pencil"></span></button>
            <button><span class="fa-solid fa-trash"></span></button>
        </td>
        </tr>


    </tbody>
</table>
{%endblock%}