{%extends 'base.html'%}
{%block title%}Municipios{%endblock%}
{%block content%}
<h2 class="titulos">Formulario de Registro</h2>
<br>
{%with messages=get_flashed_messages()%}
{%if messages%}
{%for message in messages%}   
<div class="alert alert-success d-flex align-items-center" role="alert">
<div class="fa-solid fa-triangle-exclamation">
{{message}}
</div>
</div>   
{%endfor%}
{%endif%}
{%endwith%}
<form action="" method="post">

    <label for="codmunicipio" class="subtitulo">Código Municipio</label>
    <input type="text" name="codmunicipio" placeholder="1132" maxlength="4" minlength="4"  required class="entrada"> 

    <label for="nombres" class="subtitulo">Nombre del Municipio</label>
    <input type="text" name="nombres" placeholder="Ejemplo: Cundinamarca" maxlength="20" required>

    <button type="submit">Registrar</button>

</form>
<br><br>
<h2 class="titulos">Municipios Registrados</h2>
<table>
    <thead>
        <tr>
            <th>Código del Municipio</th>
            <th>Nombre del Municipio</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {%for municipio in municipios%}
        <tr>
        <td>{{municipio.0}}</td>
        <td>{{municipio.1}}</td>

        <td>
            <button><span class="fa-solid fa-pencil"></span></button>
            <a href="/municipio/borrar/{{municipio.0}}"><span class="fa-solid fa-trash"></span></a>
        </td>
        </tr>
        {%endfor%}


    </tbody>
</table>

{%endblock%}