{%extends 'base.html'%}
{%block content%}
<h2>Registro de Municipios</h2>
<br>
<form action="" method="post">

    <label for="codmunicipio">Código Municipio</label>
    <input type="text" name="codmunicipio" placeholder="1132" maxlength="4" minlength="4"  required>

    <label for="nombres">Nombre del Municipio</label>
    <input type="text" name="nombres" placeholder="Ejemplo: Cundinamarca" maxlength="20" required>

    <button type="submit">Registrar</button>

</form>
<br><br>
<table>
    <thead>
        <tr>
            <th>Código del Municipio</th>
            <th>Nombre del Municipio</th>

            <th>            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>1132</td>
        <td>Cundinamarca</td>

        <td>
            <button><span class="fa-solid fa-pencil"></span></button>
            <button><span class="fa-solid fa-trash"></span></button>
        </td>
        </tr>


    </tbody>
</table>

{%endblock%}