/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Variables */
:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #004caf;
    --fontS-titulo: 30px;
    --fontS-subtitulos: 22px;
    --fontS-parra: 16px; 
}

body {
    background: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--primary-color);
}

p,a,button,label,input{
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

/* Estilos Index | Inicio */

    /* Barra superior */
    .barra-superior{
        display: flex;
        background: transparent;
        height: 60px;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .barra-superior #menu {
        background: transparent;
        font-size: 30px;
        border:none;
        padding: 3px;
        color: var(--primary-color);
    }

    .barra-superior img {
        transition: .5s;
    }
    
    .barra-superior img:hover{
        transform: scale(1.2);
    }

    .barra-superior a {
        font-size: 18px;
        font-weight: 600;
        border: 3px solid var(--primary-color);
        padding: 5px 10px; 
        text-decoration: none; 
        color: var(--primary-color); 
        border-radius: 5px;
        transition: .1s linear;
    }

    .barra-superior a:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color); 
      }

    /* Fin estilos barra superior */

    /* Barra lateral (menú) */
    .panel-lateral{
        position: absolute;
        width: 350px;
        height: 100%;
        background: #fff;
        box-shadow: -2px 0 20px rgba(0, 0, 0, 0.4);
        top: 0;
        left: -400px;
        z-index: 9;
        text-align: center;
        padding-top: 80px;
        transition: .6s;
    }
    
    .panel-lateral.active{
        left: 0;
    }
    
    .panel-lateral h3{
        color: var(--secondary-color);
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    
    .panel-lateral a{
        display: block;
        width: 80%;
        color: var(--secondary-color);
        text-align: left;
        letter-spacing: 1px;
        font-size: 20px;
        margin: 10px 10px 10px 40px;
        text-decoration: none;
        font-weight: 600;
        transition: .2s;
    }

    .panel-lateral a:hover{
        transform: scale(1.2);
        color: var(--tertiary-color);
    }

    span{
        margin-right: 8px;
    }

    button.close{
        color: #000;
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 30px;
    }
    /* Fin estilos barra lateral (menú) */

/* Fin de estilos Index | Inicio */

/* Estilos de tablas y formularios */

    /* Estilos para las tablas */
    table {
        width: 80%;
        background: var(--primary-color);
        color: var(--primary-color);
        margin-left: 120px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 10px; 
        overflow: hidden; 
    }

    table, th, td {
        border: None;
        color: #000;
    }

    table td button{
        background: transparent;
        border: none;
        color: #000;
        font-size: 20px;
    }

    /* Encabezado de la tabla */
    th {
        background-color: var(--tertiary-color);
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    /* Celdas de datos */
    td {
        padding: 10px;
        text-align: center;
        }

    /* Estilos para filas alternas (para facilitar la lectura) */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Estilos para resaltar filas al pasar el mouse sobre ellas */
    tr:hover {
        background-color: #cfcfcf;
    }

    /* Fin estilos tablas */

    /* Estilos de formulario asignacion */



/* Fin de estilos de tablas y formularios */      
        
