/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

/* Variables */
:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #438dee;
    --fontS-titulo: 30px;
    --fontS-subtitulos: 22px;
    --fontS-parra: 16px; 
}

body {
    background: var(--secondary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    color: var(--primary-color);
}

p,a,button,label,input{
    font-family: 'Crimson Text', serif;
    color: var(--primary-color);
}

/* Estilos Index | Inicio */

    /* Barra superior */
    .barra-superior{
        display: flex;
        background: transparent;
        height: 60px;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .barra-superior #menu {
        background: transparent;
        font-size: 30px;
        border:none;
        padding: 3px;
        color: var(--primary-color);
    }

    .barra-superior img {
        transition: .5s;
    }
    
    .barra-superior img:hover{
        transform: scale(1.2);
    }

    .barra-superior a {
        font-size: 18px;
        font-weight: 600;
        border: 3px solid var(--primary-color);
        padding: 5px 10px; 
        text-decoration: none; 
        color: var(--primary-color); 
        border-radius: 5px;
        transition: .1s linear;
    }

    .barra-superior a:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color); 
      }

    /* Fin estilos barra superior */

    /* Barra lateral (menú) */
    .panel-lateral{
        position: absolute;
        width: 350px;
        height: 100%;
        background: #fff;
        box-shadow: -2px 0 20px rgba(0, 0, 0, 0.4);
        top: 0;
        left: -400px;
        z-index: 9;
        text-align: center;
        padding-top: 80px;
        transition: .6s;
    }
    
    .panel-lateral.active{
        left: 0;
    }
    
    .panel-lateral h3{
        color: var(--secondary-color);
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    
    .panel-lateral a{
        display: block;
        width: 80%;
        color: var(--secondary-color);
        text-align: left;
        letter-spacing: 1px;
        font-size: 20px;
        margin: 10px 10px 10px 0;
        text-decoration: none;
        font-weight: 600;
    }

    span{
        margin-right: 8px;
    }

    button.close{
        color: #000;
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 30px;
    }
    /* Fin estilos barra lateral (menú) */


/* Estilos para las tablas */
    table {
        width: 80%;
        background: var(--primary-color);
        color: var(--primary-color);
        margin-left: 120px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 10px; 
        overflow: hidden; 
    }

    table, th, td {
        border: None;
        color: #000;
    }

    table td button{
        background: transparent;
        border: none;
        color: #000;
        font-size: 20px;
    }

    /* Encabezado de la tabla */
    th {
        background-color: var(--tertiary-color);
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    /* Celdas de datos */
    td {
        padding: 10px;
        text-align: center;
    }

    /* Estilos para filas alternas (para facilitar la lectura) */
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Estilos para resaltar filas al pasar el mouse sobre ellas */
    tr:hover {
        background-color: #cfcfcf;
    }

    /* Fin estilos tablas */

/* Estilos fomularios */
    /* Estilos generales para el formulario */
    form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    /* Estilo para el botón de envío */
    button[type="submit"] {
        background-color: var(--tertiary-color);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
        cursor: pointer;
    }

    /* Estilo para el botón de envío al pasar el ratón sobre él */
    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    /* Estilo para los campos "subtitulo" */
    .subtitulo {
        display: block;
        font-weight: bold;
        margin-top: 10px;
        font-weight: bold;
        color: #000;
    }

    /* Estilo para la clase "entrada" */
    .entrada {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    /* Estilo para la clase "entrada 1" */

    .entrada1{
        color:#000;
    }