{%extends 'base.html'%}
{%block title%}Inicio | Home{%endblock%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="hero">
                <img src="{{url_for('static', filename='img/logoManzana.png')}}" alt="Logo" class="img-fluid">
                <h1>LAS MANZANAS DEL CUIDADO</h1>
                <p>Las Manzanas del Cuidado son espacios en la ciudad donde las cuidadoras y sus familias encuentran servicios y apoyo gratuitos, desde educación hasta asesoría legal y lavandería comunitaria. Estamos aquí para fortalecer a quienes cuidan.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{{url_for('static', filename='img/imginit.svg')}}" alt="imagen" class="img-fluid" style="width: 500px; height: 500px;">
        </div>
    </div>
</div>
{%endblock%}
