<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"><!-- Link de bootstrap -->

    <link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}"> <!-- Link de hoja de estilos .css -->

    <link rel="icon" href="{{url_for('static', filename='img/icono.png')}}" sizes="48x48"><!-- Link icono pestaña de navegador -->

    <title>Inicio</title> <!-- Titulo pagina -->

</head>
<body>

    <header>

        <!-- Barra de navegación -->
        <nav>
            <div class="barra-superior">
                <button id="menu" onclick="panelLateral()"><span><i class="fa-solid fa-list"></i></span></button> <!--Boton de menú-->
                <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo"> <!--Logo-->
                <a id="cerrar sesion" href="#">Cerrar sesión</a> <!-- Boton cerrar sesión -->
            </div>
        </nav>

        <div class="panel-lateral">

            <button class="close" onclick="panelLateral()">X</button>
            <h3>Menú principal</h3>
            <ul>
                <a class="item"href="#">Inicio</a>
                <a class="item"href="#">Municipios</a>
                <a class="item"href="#">Manzanas</a>
                <a class="item"href="#">Servicios</a>
                <a class="item"href="#">Establecimientos</a>
                <a class="item"href="#">Cuidadoras</a>
                <a class="item"href="#">Asignación</a>
                <a class="item"href="#">Reportes</a>
            </ul>
        </div>
        
    </header>
    <main>
        {%block content%}
        {% endblock%}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> <!-- Link de js bootstrap-->
    
    <script src="https://kit.fontawesome.com/909a90592e.js" crossorigin="anonymous"></script> <!-- Links iconos-->

    <script src="{{url_for('static', filename='js/main.js')}}"></script> <!-- Script de js propio -->
</body>
</html>