{%extends 'base.html'%}
{%block title%}Municipios{%endblock%}
{%block content%}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <!-- Titulos de pestañas de navegación -->
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#municipiosR" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span><i class="fa-solid fa-plus"></i></span>Registrar Municipio</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#municipiosT" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><span><i class="fa-solid fa-location-dot"></i></span>Municipios</button>
    </li>
</ul>

<!-- Cuerpo de pestañas de navegación -->
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="municipiosR" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <h2 class="titulos">Formulario de Registro</h2>
        <br>
        {%with messages=get_flashed_messages()%}
        {%if messages%}
        {%for message in messages%}   
        <div class="alert alert-success d-flex align-items-center" role="alert">
        <div class="fa-solid fa-triangle-exclamation">
        {{message}}
        </div>
        </div>   
        {%endfor%}
        {%endif%}
        {%endwith%}
        <form action="/municipio/update/{{municipios.0}}" method="post" class="container mt-4">
            <div class="mb-3">
                <label for="codmunicipio" class="form-label subtitulo">Código Municipio:</label>
                <input type="text" name="codmunicipio" class="form-control entrada" value="{{municipios.0}}" maxlength="4" minlength="4" required>
            </div>
            <div class="mb-3">
                <label for="nombres" class="form-label subtitulo">Nombre del Municipio:</label>
                <input type="text" name="nombres" class="form-control entrada" value="{{municipios.1}}" maxlength="20" required>
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>
    {%endblock%}